.chooser{
  overflow: hidden;
  .ant-select-selection.ant-select-selection--multiple{
    .ant-select-selection__choice{
      padding: 0 10px;
    }
    .ant-select-selection__choice__remove{
      display: none;
    }
  }
}
