.ant-advanced-search-form {
  overflow: hidden;
  .ant-calendar-picker{
    width: 100%;
  }
  .toggle-button{
    margin-right: 16px;
    font-size: 12px;
  }
  .ant-form-item-label label{
    color: #666666;
  }
  .ant-form-item-label{
    line-height: 25px;
  }
  .ant-radio-group.ant-radio-group-large {
    white-space: nowrap;
    width: 100%;
    .ant-radio-button-wrapper{
      width: 50%;
      padding: 0;
      text-align: center;
    }
  }
  .chooser{
    .ant-select-selection.ant-select-selection--multiple{
      .ant-select-selection__choice{
        padding: 0 10px;
      }
      .ant-select-selection__choice__remove{
        display: none;
      }
    }
  }
}
