.ant-advanced-search-form {
  padding: 24px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  .ant-calendar-picker{
    width: 100%;
  }
  .toggle-button{
    margin-right: 16px;
    font-size: 12px;
  }
}
