.pay-workbench {
  .pay-online {
    .ant-tabs-card .ant-tabs-nav {
      margin-left: 0;
    }
    .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
      border: 1px solid #e9e9e9;
      font-size: 12px;
      padding: 7px 16px 6px;
    }
    .ant-tabs-bar {
      border-bottom: 1px solid #e9e9e9;
    }
    .ant-alert-icon {
      top: 13px;
    }
    .num-style {
      color: rgb(51, 153, 0);
      font-size: 14px;
      font-weight: bolder;
    }
    .editable-cell {
      position: relative;

      .editable-cell-input-wrapper {
        padding-right: 24px;
      }
      .editable-cell-text-wrapper {
        padding: 5px 24px 5px 5px;
      }
      .editable-cell-icon, .editable-cell-icon-check {
        position: absolute;
        right: 0;
        width: 20px;
        cursor: pointer;
      }
      .editable-cell-icon {
        top: 8px;
      }
      .editable-cell-icon-check {
        line-height: 28px;
      }
      .editable-cell-icon:hover, .editable-cell-icon-check:hover {
        color: #108ee9;
      }
      .ant-input {
        min-width: 125px;
      }
    }
  }
}
