.announcement-information-detail{;
  .announcement-information-content{
    .form-footer-button{
      margin-top: 40px;
      margin-left: 340px;
      margin-bottom: 30px;
      button{
        margin: 0 5px;
      }
    }

    .announcement-information-detail-company{
      .table-header{
        .table-header-buttons{
          .table-header-search{
            margin-left: 770px;
          }
        }
      }
    }
  }

}
