.announcement-information-detail{
  .announcement-information-detail-upload{
    width: 220px;
    height: 126px;
    background: #FF0000;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 8px;
    border: 1px dashed
  }

}
