.agency-detail {
  .header-title {
    font-size: 18px;
  }
  .new-relation-btn {
    width: 320px;
    height: 34px;
    margin: 10px 0 50px;
  }
  .relation-form {
    margin: 10px 0px;
    background: #f7f7f7;
    padding: 10px 20px;
    border-radius: 3px;
  }
  .agency-relation {
    .ant-collapse-borderless > .ant-collapse-item > .ant-collapse-content {
      border-top-color: #eaeaea;
    }
    .header-principal {
      margin-left: 10px;
    }
    .header-more {
      float: right;
      margin-right: 20px;
    }
  }
}
