.agency-detail {
  .header-title {
    font-size: 18px;
  }
  .new-relation-btn {
    width: 320px;
    height: 34px;
    margin: 10px 0 50px;
  }
  .relation-form {
    margin: 10px 0px;
    background: rgb(247, 247, 247);
    padding: 10px 20px;
    border-radius: 3px;
  }
}
