.loan-request-detail{
  .top-info{
    background: white;
    padding: 20px 20px 0 20px;
    margin: -40px -20px 0 -20px;
    .info{
      .applicant{
        padding-bottom: 10px;
        width: 100%;
        line-height: 30px;
        color: rgb(152, 152, 152);
        font-size: 12px;
        font-weight: 400;
        .applicant-name{
          font-weight: 600;
          color: rgb(102, 102, 102);
          font-size: 16px;
          margin-right: 20px;
        }
        .reference{
          color: rgb(16, 142, 233);
        }
        .loan-money{
          color: rgb(102, 102, 102);
          font-size: 20px;
          font-weight: 600;
        }
      }
    }
  }
  .bottom-info{
    min-height: calc(100% - 213px);
    padding: 20px;
    box-shadow: 0 0 10px 1px #cecece;
    background: white;
    margin-top: 20px;
  }

  .detail-tabs{
    margin: 0 -20px;
    margin-bottom: -20px;
    .ant-tabs-nav-container{
      padding-left: 20px;
      background: white;
    }
    .ant-tabs-bar{
      margin-bottom: 0;
      border-bottom: 20px solid #ECECEC;
    }
    .ant-tabs-tabpane{
      .tab-container{
        width: calc(100% - 40px) !important;
        margin: 5px 20px;
        background: white;
        box-shadow: 0 0 5px 1px #cecece;
        padding: 20px;
        .header-title{
          margin-bottom: 15px;
        }
      }
      .detail-tab{
        .field-text,.field-name{
          font-size: 12px;
        }
        .field-name{
          height: 18px;
          line-height: 18px;
          color: rgb(152, 152, 152);
        }
        .field-text{
          height: 28px;
          line-height: 28px;
          color: rgb(102, 102, 102);
          margin-bottom: 15px;
        }
      }
      .approval-tab{

      }
      .history-tab{

      }
    }
  }
}
