.dashboard{
  .ant-card{
    margin-bottom: 10px;
    .ant-card-body{
      padding: 0;
      .card-title{
        position: relative;
        height: 50px;
        border-bottom: 1px solid #F0F0F0;
        box-sizing: border-box;
        line-height: 49px;
        width: 90%;
        margin-left: 5%;
        color: #666666;
        font-size: 16px;
        font-weight: 600;
      }
      .card-content{
        width: 100%;
        position: relative;
        height: calc(100% - 50px);
        .charts{
          box-sizing: border-box;
          text-align: center;
          padding: 20px;
        }
        .no-content{
          margin-top: 20px;
          text-align: center;
          color: #CCCCCC;
          i{
            font-size: 40px;
            margin-bottom: 10px;
          }
        }
        .recent-item{
          text-align: left;
          padding: 0 20px;
          height: 40px;
          line-height: 40px;
          i{
            margin-right: 10px;
          }
        }
        .number{
          color: #CCCCCC;
          font-size: 28px;
          padding: 20px;
          b{
            color: #666666;
          }
        }
        .money{
          font-size: 28px;
          padding: 0 20px;
        }
      }
    }
  }

  .document-card{
    .ant-card-body{
      height: 240px;
      .extra{
        position: absolute;
        height: 49px;
        line-height: 49px;
        right: 20px;
        top: 0;
        color: #989898;
        font-size: 12px;
        font-weight: 400;
      }
      .card-content{
        height: 190px;
        padding: 20px;
        .add{
          cursor: pointer;
          height: 150px;
          width: 150px;
          color: #E4E4E4;
          line-height: 146px;
          text-align: center;
          box-sizing: border-box;
          border: 2px dashed #E4E4E4;
          font-size: 50px;
          font-weight: 600;
        }
        .add:hover{
          color: #74ADEA;
          border: 2px dashed #74ADEA;
        }
      }
    }
  }

  .ant-card.ant-card-bordered{
    border: none;
  }

  .carousels{
    width: 100%;
    .ant-card-body{
      .slick-dots{
        top: 12px;
        bottom: auto;
      }
    }
    .carousel {
      position: relative;
      overflow: hidden;
      img {
        position: relative;
      }
      .carousel-title{
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 10px;
        background: rgba(0, 0, 0, 0.6);
        height: 30px;
        line-height: 30px;
        text-align: center;
        color: white;
      }
    }
  }
}
