.dashboard{
  .sprite{
    width: 75px;
    height: 75px;
    display: inline-block;
  }
  .ant-card{
    margin-bottom: 20px;
    vertical-align: 75px;
    .total-block{
      height: 75px;
      display: inline-block;
      vertical-align: top;
      margin-left: 20px;
      .total-block-title{
        height: 25px;
        line-height: 25px;
      }
      .total-block-content{
        height: 50px;
        line-height: 50px;
        font-size: 30px;
        font-weight: bold;
      }
    }
  }
}
