.login{
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  position: relative;
  font-family: PingFangSC-Regular;
  .background-img{
    position: fixed;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .login-area{
    position: absolute;
    width: 20vw;
    top: 20vh;
    right: 10vw;
    text-align: center;
    .login-logo-text{
      font-size: 32px;
      color: white;
      margin-bottom: 20px;
    }
    input{
      border-radius: 0;
      height: 40px;
      line-height: 40px;
      margin-bottom: 30px;
      font-size: 16px;
    }
    .forget-password{
      font-size: 14px;
      color: #FFFFFF;
      text-align: right;
      margin-top: -10px;
      width: 100%;
      text-decoration: underline;
      cursor: pointer;
    }
    button{
      background: #166CFB;
      border-radius: 4px;
      height: 50px;
      line-height: 50px;
      font-size: 18px;
      width: 100%;
      border: none;
      margin-top: 46px;
    }
  }
  #scene{
    position: absolute;
    right: 45vw;
    top: 10vh;
    width: 40vw;
    height: 80vh;
    div{
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      img{
        margin-top: 10vh;
        width: 100%;
      }
    }
    .img-logo{
      position: absolute;
      top: 0;
      right: 0;
      height: 50px;
    }
  }
  .description{
    position: absolute;
    right: 40vw;
    bottom: 20vh;
    text-align: right;
    .description-title{
      font-size: 28px;
      color: #FFFFFF;
      line-height: 28px;
    }
    .description-content{
      margin-top: 10px;
      font-size: 16px;
      color: #587DCD;
      line-height: 16px;
    }
  }
  .message{
    position: absolute;
    right: 10vw;
    bottom: 20vh;
    text-align: right;
    .no-account{
      font-size: 14px;
      color: #FFFFFF;
      line-height: 14px;
      text-align: right;
    }
    .phone-number{
      font-size: 18px;
      color: #587DCD;
      line-height: 18px;
      margin-top: 8px;
      text-align: right;
    }
  }
  .footer{
    position: absolute;
    bottom: 0;
    right: 10vw;
    border-top: 1px solid #254181;
    font-size: 14px;
    color: #587DCD;
    line-height: 16px;
    padding: 20px 0;
    text-align: center;
    width: 80vw;
  }
}
