.my-account{
  height: 100%;
  .operate-area{
    margin-bottom: 20px;
  }
  .expanded-row{
    font-size: 12px;
    .expanded-title{
      font-weight: 500;
    }
    .expanded-content{
      font-weight: 400;
    }
  }
}
