.security-setting{
 font-family:PingFangSC-Regular;
  font-size:15px;
  color:#999999;
  letter-spacing:0;
  text-align:left;
  .security-setting-companyID{
  }

  .security-setting-companyKey{
    margin-top: 20px;
  }

  .security-setting-slid{
    margin-top: 20px;
  }

  .security-setting-basicRule{
    margin-top: 20px;
  }

  .security-setting-formItem-1{
    margin: 10px -20px;

  }
  .security-setting-formItem-2{
    margin-left: -42px;
  }


  .ant-col-4{
    margin-left: -92px;
  }
  .security-setting-formItem-5{
    margin: 10px -65px;
  }
  .security-setting-formItem-6{
    margin-left: 72px;
  }

  /*.security-setting-save{
    margin: 20px 120px;
  }*/
/*  .security-setting-cancel{
    margin: 20px 10px;
  }*/
}
