.confirm-payment{
  .ant-form-item-label{
    line-height: 25px;
  }
  .ant-radio-group.ant-radio-group-large {
    width: 100%;
    .ant-radio-button-wrapper{
      width: 50%;
      padding: 0;
      text-align: center;
    }
  }
}
