.budget-strategy-detail {
  .table-header-title h5 {
    display: inline-block;
    color: #666;
    margin-right: 15px;
  }
  .table-header-buttons .tip-notice {
    color: #999;
    a {
      text-decoration: underline;
    }
  }
}
