.budget-versions-detail{
  .budget-versions-cent{
  .table-header-buttons{
    .delete{
      margin-left: 26px;
    }
  }

  }

  .footer-operate{
    margin-left: 260px;
    position: absolute;
    bottom: 0;
    left:0 ;
    height: 60px;
    width: 100%;
    Button{
      margin-left:5px;
    }
    .delete{
      margin-left: 26px;
    }
  }
}

