.budget-versions-detail{
  .budget-versions-cent{
  .table-header-buttons{
    .delete{
      margin-left: 26px;
    }
  }

  }

  .footer-operate{
    margin-top: 32px;
    height: 60px;
    width: 100%;
    Button{
      margin-left:5px;
    }
    .delete{
      margin-left: 26px;
    }
  }
}

