.budget-versions-detail{
  background-color: #05afd1;
  .budget-versions-cent{
  .table-header-buttons{
    .delete{
      margin-left: 26px;
    }
  }

  }

  .footer-operate{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 60px;
    line-height: 60px;
    width: 100%;
  }
}

