

.new-budget-versions{
  .new-budget-versions-help{

  }
  .new-budget-versions-from{
    background-color: #f7f7f7;
    margin-top: 24px;
    padding: 28px;
    border-radius: 5px;
    Button{
      margin-right: 16px;
    }
  }
}
